@tailwind base;
@tailwind components;
@tailwind utilities;



#prag {
  border-image: linear-gradient(to right, red, blue) 1;
}

#skill .active {
  border-bottom: solid 2px;
  border-image: linear-gradient(to right, red, blue) 1;
}

.judul span:hover {
  border-bottom: solid 2px;
  border-image: linear-gradient(to right, red, blue) 1;
}

.nav li a:hover {
  opacity: 1;
}

#content::-webkit-scrollbar {
  width: 0.5rem;
}

#content::-webkit-scrollbar-thumb {
  background-color: transparent;
}

ul li:hover .line {
  transition: 0.5s;
  border-bottom: solid;
  padding-right: 70px;
  height: min-content;
  padding-top: 14px;
  margin-right: 6px;
}

nav a {
  opacity: 0.5;
}

nav a.active {
  opacity: 1;
}

nav a.active .line {
  transition: 0.5s;
  border-bottom: solid;
  padding-right: 70px;
  height: min-content;
  padding-top: 14px;
  margin-right: 6px;
}

.main img:hover {
  transition: 0.5s;
  margin-bottom: 12px;
}